In [1]:
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2022-01-24 00:43:04,22.0752,-159.3190,79.48,71,20,1.99
1,1,Provideniya,RU,2022-01-24 00:43:04,64.3833,-173.3000,14.11,79,100,8.95
2,2,Champaign,US,2022-01-24 00:43:05,40.1334,-88.2001,22.71,67,0,1.01
3,3,Hermanus,ZA,2022-01-24 00:43:05,-34.4187,19.2345,67.89,91,97,6.91
4,4,San Patricio,US,2022-01-24 00:43:06,28.0170,-97.5169,57.88,47,100,3.36

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# max_temp = city_data_df["Max Temp"]
# temps= []
# for temp in max_temp:
#     temps.append(max(temp,0))

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations= city_data_df[["Lat", "Lng"]]
humidity= city_data_df["Humidity"]
fig= gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer= gmaps.heatmap_layer(locations, weights= humidity, dissipating= False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations= city_data_df[["Lat", "Lng"]]
clouds= city_data_df["Cloudiness"]
fig= gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer= gmaps.heatmap_layer(locations, weights= clouds, dissipating= False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations= city_data_df[["Lat", "Lng"]]
wind= city_data_df["Wind Speed"]
fig= gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer= gmaps.heatmap_layer(locations, weights= wind, dissipating= False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2022-01-24 00:43:04,22.0752,-159.3190,79.48,71,20,1.99
6,6,Bo Phloi,TH,2022-01-24 00:43:06,14.3236,99.5161,76.32,69,50,3.20
8,8,Hobart,AU,2022-01-24 00:40:02,-42.8794,147.3294,79.27,65,100,10.36
11,11,Hilo,US,2022-01-24 00:43:08,19.7297,-155.0900,79.11,70,40,8.05
14,14,Hithadhoo,MV,2022-01-24 00:43:09,-0.6000,73.0833,82.29,66,100,15.77
17,17,Avarua,CK,2022-01-24 00:43:10,-21.2078,-159.7750,80.65,94,100,13.80
23,23,San Juan,AR,2022-01-24 00:43:12,-31.5375,-68.5364,86.85,31,100,9.95
30,30,Carnarvon,AU,2022-01-24 00:43:14,-24.8667,113.6333,84.27,51,0,23.02
37,37,Bambous Virieux,MU,2022-01-24 00:43:16,-20.3428,57.7575,79.05,89,20,3.44
38,38,New Norfolk,AU,2022-01-24 00:43:16,-42.7826,147.0587,78.91,41,100,1.99

In [17]:
preferred_cities_df.count()

City_ID       143
City          143
Country       139
Date          143
Lat           143
Lng           143
Max Temp      143
Humidity      143
Cloudiness    143
Wind Speed    143
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0             Kapaa      US     79.48  22.0752 -159.3190
6          Bo Phloi      TH     76.32  14.3236   99.5161
8            Hobart      AU     79.27 -42.8794  147.3294
11             Hilo      US     79.11  19.7297 -155.0900
14        Hithadhoo      MV     82.29  -0.6000   73.0833
17           Avarua      CK     80.65 -21.2078 -159.7750
23         San Juan      AR     86.85 -31.5375  -68.5364
30        Carnarvon      AU     84.27 -24.8667  113.6333
37  Bambous Virieux      MU     79.05 -20.3428   57.7575
38      New Norfolk      AU     78.91 -42.7826  147.0587

In [18]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head()

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,79.48,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,Bo Phloi,TH,76.32,14.3236,99.5161,แอท เมืองพลอย รีสอร์ท At MuangPloy Resort
8,Hobart,AU,79.27,-42.8794,147.3294,Mantra on Collins Hobart
11,Hilo,US,79.11,19.7297,-155.0900,Hilo Hawaiian Hotel
14,Hithadhoo,MV,82.29,-0.6000,73.0833,Scoop Guest House

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer= gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))